.principal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://i.postimg.cc/MKdZwqjR/background-Food.png");
    background-size: auto;
}