.principal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
    background: linear-gradient(70deg, #c9ccd1 0%,#000000 20%);
}