.stepsConteiner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 4rem;
}

.stepsConteiner>label {
    display: flex;
    position: relative;
    width: 25rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem;
}

.stepsConteiner>label>textarea {
    width: 20rem;
    height: 10rem;
    padding: 0.2rem 0.1rem;
    resize: none;
    outline: none;
    background-color: rgba(87, 87, 87, 0.9);
}

.textarea {
    border: rgba(255, 0, 0, 0) solid 0.1rem;
    border: solid rgba(151, 151, 151, 0.818) 0.05rem;
    color: white;
}

.textareaError {
    border: red solid 0.15rem;
    color:red
}

.stepsConteiner>label>div {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 20.4rem;
}

.stepsConteiner>label>div>button {
    width: 6.5rem;
    padding: 0.2rem .9rem;
    border: none;
    color: rgb(210, 210, 210);
    background-color: rgb(71, 71, 71);
}

.stepsConteiner>label>div>button:active {
    scale: 0.9;
}

.currentSteps {
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.currentSteps>div {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.7rem;
    text-align: left;
}

.currentSteps>div>span {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}



.textError {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    color: hsla(0, 95%, 54%, 0.928)
}