.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.cards>a {
    color: rgb(192, 192, 192);
    text-decoration: none;
}