.card {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: .4em;
    background-color: grey;
    width: 20em;
    height: 25em;
    padding: .6em 0em;
}

.card > img {
    width: 18em;
}

.dietsConteiner {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.dietsConteiner > span {
    background-color: blueviolet;
}