.card {position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 21rem;
    height: 36rem;
    overflow-x:hidden;
}

.card:hover {
    scale: 1.02
}
.card:active {
    scale: 0.98;
}


.nameRecipe {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(36, 36, 36);
    margin: 0;
    width: 100%;
    height: 5rem;
}

.nameRecipe>h2 {
    font-size: 1rem;
    color:rgb(247, 247, 247)
}

.card > img {
    height: 18rem;
}

.scoreConteiner {
    background: black;
    width: 100%;
}

.scoreConteiner>h3{
    color: hsla(0, 0%, 16%, 0.966);
    background: hsla(39, 100%, 50%, 0.866);  /* linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 29%, rgba(209,209,209,1) 63%, rgba(254,254,254,1) 100%); */
}

.dietsConteiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    gap: .5em;
    flex-wrap: wrap;
    width: 94%;
    padding: 0% 3%;
    height: 12rem;
    background: rgb(70, 70, 70)
}

.dietsConteiner > span {
    color: rgb(192, 192, 192);
    font-weight: bolder;
    background-color: rgb(34, 34, 34);
    padding: .4rem 1rem;
    border-radius: 1rem;
}

.delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    right: .1rem;
    top: .1rem;
    background-color: rgba(153, 1, 1, 0.705);
    border: none;
    color: white;
    width: 1.2rem;
    height: 1.2rem;
}

.delete:hover {
    scale: 1.02
}

.delete:active{
    scale: 0.97
}