.dietsConteiner {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
    width: inherit;
    height: 100%;
}

.diets {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .47em;
    font-size: 1.2rem;
}

.diets> label {
    color: rgb(151, 151, 151);
}

.checkbox {
    opacity: .5;
}