.background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/26/95/f8/2695f857fb30701da277943d5f166c75.jpg");
    background-position: top center;
    background-size: cover;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25em;
    min-height: 23em;
    padding: 2em;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: rgba(189, 189, 189, 0.712) 0px 0px 500px 54px, rgb(255, 242, 230) 0px 0px 15px 10px;
    background: url("https://i.postimg.cc/vDF82wfx/istockphoto-636388930-612x612.jpg");
    background-size: cover;
    background-position: center;
}

.card > img {
    width: 20em;
    opacity: 0.8;
}

.button {
  align-self: center;
  background-color: rgba(255, 255, 255, 0);
  border: #e2e2e2 solid 2px;
  color: #e2e2e2;
  cursor: pointer;
  font-size: 1em;
  padding: .75rem;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.button:hover {
  transform: translateY(2px);
}

.socialDiv {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    align-items: center;
    opacity: 0.8;
}

.socialDiv img {
    width: 2em;
}

.socialDiv>a {
    display: flex;
    align-items: center;
    gap: 0.2em;
    color: rgb(189, 189, 189);
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}
.socialDiv>a:hover{
    scale: 1.1;
}
.socialDiv>a:active{
    scale: 1;
}

