.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 96%;
    padding: 2rem 2%;
    background-color: rgba(58, 58, 58, 0.99);
    background-position: center;
    margin: 0.8rem 0em 0em 0em;
}

.logo {
    width: 11em;
}
.logo:hover {
    scale: 1.02;
}

.logo:active {
    scale: .96;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .8em;
}

.search {
    display: flex;
    gap: 1em;
}

.search>input:nth-child(1) {
    width: 12rem;
    border-radius: .25rem;
    outline: none;
    border: none;
    padding-left: .4rem;
    background-color: #4d4d4d;
    color: rgba(213, 213, 213, 0.98);
    border: .04rem solid rgba(237, 237, 237, 0.5);
}

.buttonCreate {
    position: relative;
    background-color: #4d4d4d;
    height: 2rem;
    width: 8rem;
    border: .04rem solid rgba(237, 237, 237, 0.5);
    border-radius: .25rem;
    color: rgba(255, 255, 255, 0.98);
    cursor: pointer;
    padding: .5rem .5rem;
    font-family: sans-serif, 'Times New Roman', Times;
}

.buttonCreate:hover,
.buttonCreate:focus {
    color: rgba(255, 255, 255, 0.98);
}

.buttonCreate:hover {
    transform: translateY(-1px);
}

.buttonCreate:active {
    background-color: #4d4d4d;
    border: .04rem solid rgba(237, 237, 237, 0.5);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(255, 255, 255, 0.98);
    transform: translateY(0);
}