.detailsConteiner {
    position: relative;
    width: 100%;
}

.onBack {position:absolute;
    left: 3%;
    top: .5rem;
    padding: 0.5rem 2rem;
    width: 6rem;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
}
